<script type="text/ng-template" id="video-entry">
<a href="http://www.youtube.com/watch?v={{ video.id }}">
  <img ng-src="{{ video.image.url }}" />
  <h5>{{ video.title }}</h5>
  <p>{{ video.description }}</p>
</a>
</script>

<div class="row">
  <div class="col-md-10">
    <div class="yr-carousel" yr-carousel="items">
      <div class="yr-carousel-stage">
      </div>
      <div class="yr-carousel-list">
        <ol>
          <li ng-repeat="item in items">
            Item
          </li>
        </ol>
      </div>
    </div>

    <section class="yr-panel">
      <header class="yr-panel-heading">
        <h5>Latest Videos</h5>
      </header>
      <div class="yr-panel-content">
        <div class="yr-videos-list">
          <div ng-include="'video-entry'" ng-repeat="video in latestVideos" class="yr-videos-list-entry">
        </div>
      </div>
    </section>

    <section class="yr-panel">
      <header class="yr-panel-heading">
        <h5>Popular Videos</h5>
      </header>
      <div class="yr-panel-content">
        <div class="yr-videos-list">
          <div ng-include="'video-entry'" ng-repeat="video in popularVideos" class="yr-videos-list-entry">
        </div>
      </div>
    </section>
  </div>

  <aside class="col-md-2">
    <div ng-repeat="category in categories">
      <a ng-href="#/?category={{ category }}">Category - {{ category }}</a>
    </div>
  </aside>
</div>
