<section class="yr-panel">
  <header class="yr-panel-heading yr-primary-heading">
    <h5 class="yr-heading">
      {{ video.title }}
    </h5>
  </header>

  <div class="yr-player-panel">
    <div class="yr-player" yt-video-player="{{ video_id }}"></div>
  </div>

  <div class="row yr-grid">
    <div class="col-md-8 col">
      <header class="yr-panel-heading">
        <h5 class="yr-heading">
          Video Info
        </h5>
      </header>

      <div class="row yr-padded">
        <img ng-src="{{ video.image.url }}" class="col-md-4" />
        <div class="yr-video-panel-inner col-md-8">
          <h4>{{ video.title }}</h4>
          <p>{{ video.description }}</p>
        </div>
      </div>

      <header class="yr-panel-heading row sub-heading">
        <h5 class="yr-heading col-md-6">
          Comments
        </h5>
        <div class="yr-video-comments-header col-md-6">
          <input type="search" ng-model="q" class="col-md-11 form-control" placeholder="Filter comments..." />
        </div>
      </header>

      <div class="yr-video-comments">
        <div ng-repeat="comment in video_comments | filter:q | limit:12"
             ng-class-even="'even'"
             class="yr-video-comment row">
               <strong class="col-md-2">
                 <span class="fa fa-user"></span>
                 {{ comment.author }}:
               </strong>
               <p class="col-md-9">{{ comment.content }}</p>
        </div>
      </div>
    </div>
    <div ng-controller="VideoPanelCtrl" class="yr-video-panel col-md-4 col">
      <header class="yr-panel-heading">
        <h5 class="yr-heading">
          Related Videos
        </h5>
      </header>

      <div class="yr-player-videos off">
        <div class="yr-videos-list row yr-grid">
          <div ng-include="tpl('video-listing')"
               ng-repeat="video in relatedVideos | limit:14"
               class="col-md-6 yr-videos-list-entry thumb-layout">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
